#!/bin/bash

#Declaracao de variaveis
TMP_DIR=<%= @tmp_dir %>
REGISTRY_PAGE_VERSION=<%= @registry_page_version %>
REGISTRY_VERSION=<%= @registry_version %>
REGISTRY_DOWNLOAD=<%= @registry_download %>
REGISTRY_MD5_URL=<%= @registry_md5_url %>
REGISTRY_SOURCE_FILE=<%= @registry_source_file %>
REGISTRY_APP_FILE=<%= @registry_app_file %>
REGISTRY_INIT_FILE=<%= @registry_init_file %>
REGISTRY_DIR=<%= @jhipster_registry_dir %>
JHIPSTER_USER=<%= @jhipster_user %>
JHIPSTER_GROUP=<%= @jhipster_group %>

#Obtendo a versao do registry ja instalado
version="$(curl --insecure -Ls $REGISTRY_PAGE_VERSION | jq .project.version | cut -d\" -f2)"

#Testando se a versao instalada eh a desejada
#Se nao for, sera instalada a nova versao
if [ "$version" != "$REGISTRY_VERSION" ]; then
  wget --no-check-certificate -q $REGISTRY_DOWNLOAD -O $TMP_DIR/$REGISTRY_SOURCE_FILE
  md5_page="$(curl --insecure -Ls $REGISTRY_MD5_URL)"
  md5_file="$(md5sum $TMP_DIR/$REGISTRY_SOURCE_FILE)"
  if [ "$md5_page" != "$md5_file" ]; then
    cd $TMP_DIR
    $REGISTRY_INIT_FILE stop
    rm -f $REGISTRY_DIR/$REGISTRY_APP_FILE
    mv $TMP_DIR/$REGISTRY_SOURCE_FILE $REGISTRY_DIR/$REGISTRY_APP_FILE
    chown -R $JHIPSTER_USER:$JHIPSTER_GROUP $REGISTRY_DIR
    chmod -R 755 $REGISTRY_DIR
    $REGISTRY_INIT_FILE restart
  fi
fi

