#!/bin/bash

#Declaracao de variaveis
TMP_DIR=<%= @tmp_dir %>
GATEWAY_PAGE_VERSION=<%= @gateway_page_version %>
GATEWAY_VERSION=<%= @gateway_version %>
GATEWAY_DOWNLOAD=<%= @gateway_download %>
GATEWAY_MD5_URL=<%= @gateway_md5_url %>
GATEWAY_SOURCE_FILE=<%= @gateway_source_file %>
GATEWAY_APP_FILE=<%= @gateway_app_file %>
GATEWAY_INIT_FILE=<%= @gateway_init_file %>
GATEWAY_DIR=<%= @jhipster_gw_dir %>
JHIPSTER_USER=<%= @jhipster_user %>
JHIPSTER_GROUP=<%= @jhipster_group %>

#Obtendo a versao do gateway ja instalado
version="$(curl --insecure -Ls $GATEWAY_PAGE_VERSION | jq .project.version | cut -d\" -f2)"

#Testando se a versao instalada eh a desejada
#Se nao for, sera instalada a nova versao
if [ "$version" != "$GATEWAY_VERSION" ]; then
  wget --no-check-certificate -q $GATEWAY_DOWNLOAD -O $TMP_DIR/$GATEWAY_SOURCE_FILE
  md5_page="$(curl --insecure -Ls $GATEWAY_MD5_URL)"
  md5_file="$(md5sum $TMP_DIR/$GATEWAY_SOURCE_FILE)"
  if [ "$md5_page" != "$md5_file" ]; then
    cd $TMP_DIR
    $GATEWAY_INIT_FILE stop
    rm -f $GATEWAY_DIR/$GATEWAY_APP_FILE
    mv $TMP_DIR/$GATEWAY_SOURCE_FILE $GATEWAY_DIR/$GATEWAY_APP_FILE
    chown -R $JHIPSTER_USER:$JHIPSTER_GROUP $GATEWAY_DIR
    chmod -R 755 $GATEWAY_DIR
    $GATEWAY_INIT_FILE restart
  fi
fi
