#!/bin/bash
# chkconfig: 345 90 90
# description: jhipster-registry
#
#****************************************#
#---------------- ATENCAO
#ARQUIVO GERENCIADO VIA PUPPET
#ALTERACOES MANUAIS SERAO PERDIDAS
#---------------- ATTENTION
#FILE MANAGED VIA PUPPET
#CHANGES HAND WILL BE LOST
#--------------------------
#****************************************#

### BEGIN INIT INFO
# Provides: jhipster-registry
# Required-Start: $local_fs $network $syslog
# Should-Start: $remote_fs $named $time
# Required-Stop: $local_fs $network $syslog
# Should-Stop: $remote_fs $named
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: jhipster-registry
# Description: jhipster-registry
### END INIT INFO

#----------------------------------------------------
# informa se o usuario que estah rodando o comando eh root
isroot(){
MYUID=$(id | cut -d= -f2 | cut -d\( -f1)
[ $MYUID -eq 0 ] && echo YES || echo NO
}

#--------------------------------
getPID(){
PID=$(ps ax | pgrep -fl $SERVICE_APP_FILE  | sed "s/^ *//" | cut --field=1 --delimiter=" ")
sudo chown $JHIPSTER_USER:$JHIPSTER_GROUP $PID_FILE
echo $PID > $PID_FILE
}

#--------------------------------
isRunning(){
local PID="$1"
[ -z "$PID" ] && return 1
ps -p $PID > /dev/null 2>&1 && return 0 || return 1
}

#--------------------------------
status(){

getPID

[ -f $PID_FILE ] || return 3
PID=$(cat $PID_FILE )

if [ -z "$PID" ]; then
   echo "[INFO] $SERVICE_EXEC is not running..." 
   return 1
fi

if isRunning $PID; then
   echo "[INFO] $SERVICE_EXEC is running: PID=$PID"
   return 0 
else
   echo "[INFO] $SERVICE_EXEC is not running..." 
   return 1
fi
}

#--------------------------------
stop(){

getPID

if [ ! -f $PID_FILE ]; then
   echo "`date +"%Y-%m-%d %T"` [INFO] $SERVICE_EXEC is not running..." >> $LOGFILE
   return 0
fi

PID=$(cat $PID_FILE )
if [ -z "$PID" ]; then
   echo "`date +"%Y-%m-%d %T"` [INFO] $SERVICE_EXEC is not running..." >> $LOGFILE
   return 0
fi

echo "`date +"%Y-%m-%d %T"` [INFO] Stopping $SERVICE_EXEC..." >> $LOGFILE
kill -9 $PID
sleep 5
return 0

}

#--------------------------------
start(){

chown -R $JHIPSTER_USER:$JHIPSTER_GROUP $JHIPSTER_DIR_BASE/ > /dev/null

cd $SERVICE_DIR/ > /dev/null

<% case @subtype_service_jhipster 
    when "registry" -%>
    echo "`date +"%Y-%m-%d %T"` [INFO] Starting $SERVICE_EXEC..." >> $LOGFILE
    
    <% if @osfamily == 'RedHat' %>
      su --session-command="java -jar $SERVICE_DIR/$SERVICE_APP_FILE --logging.file=$LOGFILE --spring.profiles.active=$JHIPSTER_CONFIG_PROFILE > /dev/null 2>&1 &" $JHIPSTER_USER
    <% else %>
      su -c "java -jar $SERVICE_DIR/$SERVICE_APP_FILE --logging.file=$LOGFILE --spring.profiles.active=$JHIPSTER_CONFIG_PROFILE > /dev/null 2>&1 &" $JHIPSTER_USER
    <% end %>

    #echo "Por favor, espere $WAIT_TIME_REGISTRY segundos enquanto o servico esta sendo iniciado!"
    sleep $WAIT_TIME_REGISTRY
    if ! curl --insecure -s $PAGE_VERSION -o /dev/null ; then
      echo "`date +"%Y-%m-%d %T"` [ERROR] Esperei $WAIT_TIME_REGISTRY segundos e nao consegui obter a versao do $SERVICE_EXEC. Ele esta sendo executado?" >> $LOGFILE
      exit 1
    fi
<% end -%>

cd - > /dev/null

getPID
return 0
}

#--------------------------------
# MAIN
#--------------------------------

#----- Variaveis

<% case @subtype_service_jhipster 
    when "gateway" -%>
SERVICE_EXEC=<%= @gateway_service %>
SERVICE_DIR=<%= @jhipster_gw_dir %>
SERVICE_APP_FILE=<%= @gateway_app_file %>
PID_FILE=<%= @jhipster_log_dir %>/$SERVICE_EXEC.pid
PAGE_VERSION=<%= @gateway_page_version %>
LOGFILE=<%= @jhipster_log_dir %>/gateway.log

    <% when "registry" %>
SERVICE_EXEC=<%= @registry_service %>
SERVICE_DIR=<%= @jhipster_registry_dir %>
SERVICE_APP_FILE=<%= @registry_app_file %>
PID_FILE=<%= @jhipster_log_dir %>/$SERVICE_EXEC.pid
PAGE_VERSION=<%= @registry_page_version %>
LOGFILE=<%= @jhipster_log_dir %>/registry.log

<% end -%>

JHIPSTER_USER=<%= @jhipster_user %>
JHIPSTER_GROUP=<%= @jhipster_group %>
JHIPSTER_DIR_BASE=<%= @jhipster_dir_base %>

REGISTRY_USER=<%= @registry_user %>
REGISTRY_PASSWORD=<%= @registry_password %>
REGISTRY_PAGE_VERSION=<%= @registry_page_version %>
REGISTRY_SERVICE=<%= @registry_service %>
WAIT_TIME=60
WAIT_TIME_REGISTRY=70
JHIPSTER_CONFIG_PROFILE=<%= @jhipster_config_profile %>

#------ FIM-Variaveis


# Define usage string, used in more than one place.
usage="[INFO] Usage: $0 {start|stop|restart|status}"

# Check that we have one parameter: action
if [ $# -ne 1 ] ; then
  if [ $# -lt 1 -o "$1" = "" ] ; then
    echo "[ERROR] $0: action not specified"
  else
    echo "[ERROR] $0: too many parameters"
  fi
  echo "$usage"
  exit 2
fi
action="$1"



case $action in
start)
        start
        RETURN=$?
        ;;

stop)
        stop
        RETURN=$?
        ;;
restart)
        stop
        start
        RETURN=$?
        ;;

status)
        status
        RETURN=$?
        ;;
*)
        # If we don't recognize action, consider it an invalid argument.
        # If the standard adds actions we don't support, exit should be 3 for those.
        echo "[ERROR] $0: action \"$action\" not recognized"
        echo "$usage"
        exit 3
        ;;
esac
exit $RETURN
