#!/bin/bash
# chkconfig: 345 15 60
# description: jhipster (JHipster) Servicos necessarios ao JHipster
#----------------------------------------------------
#

#****************************************#
#---------------- ATENCAO
#ARQUIVO GERENCIADO VIA PUPPET
#ALTERACOES MANUAIS SERAO PERDIDAS
#---------------- ATTENTION
#FILE MANAGED VIA PUPPET
#CHANGES HAND WILL BE LOST
#--------------------------
#****************************************#

### BEGIN INIT INFO
# Provides: jhipster
# Required-Start: $local_fs $network $syslog
# Should-Start: $remote_fs $named $time
# Required-Stop: $local_fs $network $syslog
# Should-Stop: $remote_fs $named
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: jhipster
# Description: jhipster (JHipster) JHipster Services
### END INIT INFO

#--------------------------------
status(){

<% @type_service_jhipster.each do |name_service| -%>
  <% case name_service 
    when "all" -%>
      echo "--------STATUS-GATEWAY------------"
      $GATEWAY_INIT_SCRIPT status
      echo
      echo
      echo "--------STATUS-REGISTRY-----------"
      $REGISTRY_INIT_SCRIPT status
      echo
      echo
    <% when "gateway" %>
      echo "--------STATUS-GATEWAY------------"
      $GATEWAY_INIT_SCRIPT status
      echo
      echo
    <% when "registry" %>
      echo "--------STATUS-REGISTRY-----------"
      $REGISTRY_INIT_SCRIPT status
      echo
      echo
      echo
  <% end -%>
<% end -%>
return 0
}

#--------------------------------
stop(){

<% @type_service_jhipster.each do |name_service| -%>
  <% case name_service 
    when "all" -%>
      $GATEWAY_INIT_SCRIPT stop
      echo "--------END-STOP-GATEWAY------------"
      echo
      echo
      $REGISTRY_INIT_SCRIPT stop
      echo "--------END-STOP-REGISTRY-----------"
      echo
      echo
    <% when "gateway" %>
      $GATEWAY_INIT_SCRIPT stop
      echo "--------END-STOP-GATEWAY------------"
      echo
      echo
    <% when "registry" %>
      $REGISTRY_INIT_SCRIPT stop
      echo "--------END-STOP-REGISTRY-----------"
      echo
      echo
  <% end -%>
<% end -%>

return 0
}

#--------------------------------
start(){

<% @type_service_jhipster.each do |name_service| -%>
  <% case name_service 
    when "all" -%>
#Verificando se o servico foi inicializado
$GATEWAY_INIT_SCRIPT status
retorno=$(echo $?)
if [ $retorno -ne 0 ]; then
    #Inicializando o servico
    $GATEWAY_INIT_SCRIPT start
    #Verificando se o servico foi inicializado
    $GATEWAY_INIT_SCRIPT status
    retorno=$(echo $?)
    if [ $retorno -ne 0 ]; then
      echo "[ERRO] O Gateway nao foi inicializado. Verifique o log."
      exit 1
    fi
fi
echo "--------END-START-GATEWAY-----------"
echo
echo

#Verificando se o servico foi inicializado
$REGISTRY_INIT_SCRIPT status
retorno=$(echo $?)
if [ $retorno -ne 0 ]; then
    #Inicializando o servico
    $REGISTRY_INIT_SCRIPT start
    #Verificando se o servico foi inicializado
    $REGISTRY_INIT_SCRIPT status
    retorno=$(echo $?)
    if [ $retorno -ne 0 ]; then
      echo "[ERRO] O Registry nao foi inicializado. Verifique o log."
      exit 1
    fi
fi
echo "--------END-START-REGISTRY-----------"
echo
echo

    <% when "gateway" %>
#Verificando se o servico foi inicializado
$GATEWAY_INIT_SCRIPT status
retorno=$(echo $?)
if [ $retorno -ne 0 ]; then
    #Inicializando o servico
    $GATEWAY_INIT_SCRIPT start
    #Verificando se o servico foi inicializado
    $GATEWAY_INIT_SCRIPT status
    retorno=$(echo $?)
    if [ $retorno -ne 0 ]; then
      echo "[ERRO] O Gateway nao foi inicializado. Verifique o log."
      exit 1
    fi
fi
echo "--------END-START-GATEWAY-----------"
echo
echo

    <% when "registry" %>
#Verificando se o servico foi inicializado
$REGISTRY_INIT_SCRIPT status
retorno=$(echo $?)
if [ $retorno -ne 0 ]; then
    #Inicializando o servico
    $REGISTRY_INIT_SCRIPT start
    #Verificando se o servico foi inicializado
    $REGISTRY_INIT_SCRIPT status
    retorno=$(echo $?)
    if [ $retorno -ne 0 ]; then
      echo "[ERRO] O Registry nao foi inicializado. Verifique o log."
      exit 1
    fi
fi
echo "--------END-START-REGISTRY-----------"
echo
echo

  <% end -%>
<% end -%>
return 0
}

#--------------------------------
# MAIN
#--------------------------------
GATEWAY_INIT_SCRIPT=<%= @gateway_init_file %>
REGISTRY_INIT_SCRIPT=<%= @registry_init_file %>

# Define usage string, used in more than one place.
usage="[INFO] Usage: $0 {start|stop|restart|status}"

# Check that we have one parameter: action
if [ $# -ne 1 ] ; then
  if [ $# -lt 1 -o "$1" = "" ] ; then
    echo "[ERROR] $0: action not specified"
  else
    echo "[ERROR] $0: too many parameters"
  fi
  echo "$usage"
  exit 2
fi
action="$1"



case $action in
start)
        start
        RETURN=$?
        ;;

stop)
        status
        stop
        RETURN=$?
        ;;
restart)
        stop
        start
        RETURN=$?
        ;;

status)
        status
        RETURN=$?
        ;;
*)
        # If we don't recognize action, consider it an invalid argument.
        # If the standard adds actions we don't support, exit should be 3 for those.
        echo "[ERROR] $0: action \"$action\" not recognized"
        echo "$usage"
        exit 3
        ;;
esac
exit $RETURN
